#page-body {
  background-image: url(https://cdn.spacetelescope.org/archives/images/screen/heic1509a.jpg);
  display: flex;
  flex-direction: column;
}

.header{
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, .5fr));
  place-items: center;
  gap: 1rem;
}

#dropdown-list {
  font-size: 2rem;
  width: 10rem;
  background-color: rgba(242, 233, 228, 1);
}

.title {
  color: rgb(231, 200, 192);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
  font-size: 2.5rem;
  font-weight: bolder;
  text-shadow: 0 0 1rem black, 0 0 1rem black;
}

.load-samples-button {
  height: 2rem;
  width: 8rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 8px #999;
  text-align: center;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgba(242, 233, 228, 1);
}

.load-samples-button:active {
  background-color: rgb(209, 201, 197);
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

.drumpads {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(4, minmax(200px, .5fr));
  gap: 1rem;
  height: calc(var('--1vh', 1vh) * 100)
}

.pad {
  background-image: radial-gradient(rgba(15, 19, 31, 1),rgba(81, 16, 43, 1));
  padding: 1rem;
  display: grid;
  place-items: center;
  font-size: 1.3rem;
  border: 1rem solid rgb(17, 17, 17) ;
}

.pad::before {
  content: '';
  padding-top: 100%;
  display: block;
  grid-area: 1 / 1 / 2 / 2;
}

.pad:active {
  border: 1rem solid rgb(19, 24, 39);
  background-image: radial-gradient(rgba(15, 19, 31, 1),rgba(145, 92, 182, 1));
  box-shadow: 0 5px 20px 10px rgba(145, 92, 182, .4);
}

p {
  color: rgba(242, 233, 228, 1);
  width: 100%;
  text-align: center;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: none;
}

